<html>
    <head>
        <style>
            body{
                background-color: black;
            }
            h1{
                color: cornflowerblue;
                font-style: italic;
            }
            li{
                display: inline;
                padding: 5%;
            }
            a{
                text-decoration: none;
                font-size: 20px;
                color: white;
            }
        </style>
    </head>
    <body>
        <center>
        <h1>INTERNSHALLA INTERNSHIPS ANALYSIS</h1>
        <div>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/filter/">FILTER INTERNSHIPS</a></li>
            </ul>
        </div><br><br>
        <img src="../static/duration.png">
        <img src="../static/location.png">
        <img src="../static/sp.png">
        <img src="../static/profile.png">
    </center>
    </body>
</html>